body{
    text-align: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.header_menu{
    display:inline-flex;
}
li{
    
}

.expertise ul{
    display:inline;

}